<h2>Add an item:</h2>
<%= form_for([@trade, @trade.items.build]) do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
  <div class="uploader">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <p>
    <%= f.submit %>
  </p>
<% end %>

