<div class="intro">
	<h3 class="intro-header"><%= @trade.title %></h3>
 
	<p class="blurb">
	  <%= @trade.description %>
	</p>
	<p class="tags">
  		<%= @trade.tags %>
	</p>
</div>



<%= render 'items/item' %>

<%= if current_user.try(:admin?)
	 render 'items/add_item' 
	end %>

<%= if  current_user.try(:admin?)
	 link_to 'Edit', edit_trade_path(@trade) 
	end %> |
<%= link_to 'Back', trades_path %>