<p>
  <strong>Title:</strong>
  <%= @trade.title %>
</p>
 
<p>
  <%= @trade.description %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @trade.tags %>
</p>

<h2>Items</h2>
<%= render 'items/item' %>

<%= if current_user.admin?
	 render 'items/add_item' 
	%><%= end %>

<%= link_to 'Edit', edit_trade_path(@trade) %> |
<%= link_to 'Back', trades_path %>